# .github/workflows/validate.yml

name: Validate Documents and JSON

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    name: Unit-тесты
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Run unit tests
        run: mvn --batch-mode test

  build:
    name: Анализ данных
    needs: unit-tests  # Ждём успешного завершения тестов
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven (skip tests)
        run: mvn --batch-mode --show-version clean package -DskipTests
      - name: Upload JAR as artifact
        uses: actions/upload-artifact@v4
        with:
          name: validator-jar
          path: target/*-jar-with-dependencies.jar
          retention-days: 1

  validate-docs-servis:
    name: Проверка документации
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: validator-jar
          path: target
      - name: Run validation
        run: java -jar target/*-jar-with-dependencies.jar docs-servis

  validate-check-list:
    name: Проверка чек-листа
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: validator-jar
          path: target
      - name: Run validation
        run: java -jar target/*-jar-with-dependencies.jar check-list

  validate-csv:
    name: Проверка нагрузочных скриптов
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: validator-jar
          path: target
      - name: Run validation
        run: java -jar target/*-jar-with-dependencies.jar csv

  validate-json:
    name: Проверка API тестов
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: validator-jar
          path: target
      - name: Run validation
        run: java -jar target/*-jar-with-dependencies.jar json

                # После генерации отчёта:
    - name: Deploy Allure Report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/allure-report
        destination_dir: ./allure-report  # опционально, можно и без этого
        keep_files: false
